@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Marvel', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
}

*::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #28282e;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #1d1d25;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #28282e;   /* creates padding around scroll thumb */
}